<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="c7d021f2-cd2d-4cef-937b-5613f661df10" name="Mortens Willing Duckling" alias="mortens-willing-duckling" type="Starter" color="" url="https://www.s1.umbraco.io/project/mortens-willing-duckling" trialExpireDate="2018-04-04T18:02:00">
  <environment type="live" name="Live" id="b0c19f18-1bf7-49d5-b4a4-8029a38209e9">https://mortens-willing-duckling.s1.umbraco.io</environment>
</environments>